body {
    background-image: url('../rexy.png')
}
.flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    
}

.container h2{
    color: red;
    text-align: center;
}

.container{
    border-radius: 10px;
    padding: 20px;
    background-color: #0a0a1a;
    width:300px;
    /* height: 240px; */
    box-shadow: 0 0 10px black;
   
}

.display{
    display: flex;
    margin-bottom: 15px;
}
.display input {
    width: 100%;
    text-align: right;
    height: 50px;
    font-size: 24px;
    border: none;
    padding-right:10px;
    border-radius:5px;
}

.numbers,
.operators,
.extras {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:10px;
    margin-bottom: 15px;
}

/* #zero  {
    flex: 0 0 calc(33.33% - 10px);
}  */

.operators button {
    flex: 0 0 calc(33.33% - 10px);
    color: red;
}

.extras button {
    background: orange;
    color: white;
    display: flex;
    flex:1;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

button {
    flex: 0 0 calc(33.33% - 10px)
}
button {
    color: black;
    width: 60px;
    height: 60px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 5px;
}

.numbers button {
    background-color: #ffffff;
    color: black;
}

.operators button {
    background-color: #ff5c5c;
    color: #ffffff;
}

#backspace {
    background: orange;
}
/* ------------- hover effects ---------------- */




.numbers button:hover{
    background-color: black;
    color:white;
    border: 1px solid white;
} 

.operators button:hover {
    background-color: white;
    color: #ff6666;
    border: 1px solid #ff6666;
}

.extras button:hover {
    background-color: white;
    color: orange;
    border: 1px solid orange;
}